/* css reset */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

/* typography */
@font-face {
    font-family: "Aldi";
    src: url("/fonts/Aldi-Regular.otf");
}


/* main styles */

body {
    font-family: "Aldi", Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    padding-top: 50px;
    background: linear-gradient(180deg, #FFEE58 0%, rgba(255, 255, 252, 0) 100%);   
    text-align: center;
}

.hero img {
    width: 300px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
    padding-left: 80px;
}

.hero img:hover {
    transform: scale(1.1, 1.1) rotate(10deg);
}

.reward {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
}

.movement {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    width: 100px;
    line-height: 125%;
    text-align: left;
    color: #5E391F;
}

.movement:hover {
    text-decoration: underline;
}

div{
    /* text-align: center; */
    font-family: aldi;
    font-style: normal;
}

.small {
    padding: 0px;
    width: 200px;  
}
.main {
    padding-bottom: 50px;
}
h3{
    font-size: 36pt;
    text-align: center;
}

footer{
    text-align: center;
}
.button {
    background-color: #7B6CCE;
    border-radius: 90px;
    color: white;
    padding: 30px 100px;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
    text-shadow: 0px 3.36111px 0px #000000;
    font-family: aldi;
    font-style: normal;
    }

.topleft {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 100px;
    font-size: 18px;
    text-align: left;
    font-family: aldi;
    font-style: normal;
    }

.pin {
    width: 50px;
}
h1 {
    text-align: center;
    font-size: 32pt;
}
p{
    text-align: center;
}
h2{
    text-align: center;
    padding: 10px 10px;
    font-family: aldi;
    font-style: normal;
}
ul {
display: table;
margin: 0 auto;
font-family: aldi;
font-style: normal;
}
.testi1 {
    text-align: center;
    padding: 40px;
}
.testi2 {
    text-align: center;
    padding: 30px;
}
h3 {
    padding-top: 50px;
    font-family: aldi;
    font-style: normal;
}
p {
    font-family: aldi;
    font-style: normal;
}
