/* css reset */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

/* typography */
@font-face {
    font-family: "Aldi";
    src: url("/fonts/Aldi-Regular.otf");
}


/* main styles */

body {
    font-family: "Aldi", Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    padding-top: 50px;
    background: linear-gradient(180deg, #FFEE58 0%, rgba(255, 255, 252, 0) 100%);   
    text-align: center;
}

.hero img {
    width: 300px;
    transition: all 0.2s ease;
    padding-left: 80px;
}

.hero img:hover {
    transform: scale(1.1, 1.1) rotate(10deg);
}

.reward {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
}

.movement {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    width: 100px;
    line-height: 125%;
    text-align: left;
    color: #5E391F;
}

.movement:hover {
    text-decoration: underline;
}

.discord-link {
    transition: all 0.2s ease-in-out;
    margin-top: 40px;
    text-transform: uppercase;
    background-color: #7B6CCE;
    border-radius: 90px;
    color: white;
    padding: 30px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    text-align: center;
    text-shadow: 0px 3.36111px 0px #000000;
    font-style: normal;
}

.discord-link:hover {
    transform: scale(1.1, 1.1);
}


section {
    font-size: 20px;
    max-width: 640px;
    margin: 40px auto;
}

h2 {
    font-size: 36px;
}

.features {
    margin-top: 80px;
    transform: rotate(-7deg);
     max-width: 420px;
}

.features ul {
    margin-top: 20px;
    text-indent: 0;
    margin-left: 0;
    line-height: 150%;
    list-style-image: url("/img/bullet.svg")
}

.features ul li:nth-child(1){color: #7B6CCE;}
.features ul li:nth-child(2){color: #62CC6C;}
.features ul li:nth-child(3){color: #2A7DFB;}
.features ul li:nth-child(4){color: #FEC941}
.features ul li:nth-child(5){color: #FF6262;}
.features ul li:nth-child(6){color: #2AC9FB;}
.features ul li:nth-child(7){color: #472AFB;}

.worth-dick::after {
    content: "";
    display: block;
    position: absolute;
    right:18px;
    top: 50px;
    width: 200px;
    height: 100px;
    /* background-color: red; */
    background-image: url("/img/worth-dick.svg");
    background-repeat: no-repeat;
}

.testimonials {
    margin-top: 80px;
    line-height: 150%;
}



/* todo: refactor */
.small {
    padding: 0px;
    width: 200px;  
}
.main {
    padding-bottom: 50px;
}
h3{
    font-size: 36pt;
    text-align: center;
}

footer{
    text-align: center;
}


.topleft {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 100px;
    font-size: 18px;
    text-align: left;
    font-family: aldi;
    font-style: normal;
    }

.pin {
    width: 50px;
}
h1 {
    text-align: center;
    font-size: 32pt;
}
p{
    text-align: center;
}

ul {
display: table;
margin: 0 auto;
font-family: aldi;
font-style: normal;
}
.testi1 {
    text-align: center;
    padding: 40px;
}
.testi2 {
    text-align: center;
    padding: 30px;
}
h3 {
    padding-top: 50px;
    font-family: aldi;
    font-style: normal;
}
p {
    font-family: aldi;
    font-style: normal;
}
